<%- include('parts/header')%>
<%- include('parts/navbar')%>

<form action="" method="POST">
<div class="form-group">
    <input type="text" name="name" value="" class="form-control" placeholder="meal name">
    <br>
    <input type="text" name="discription" value="" class="form-control" placeholder="discription">
    <br>
    <input type="text" name="price" value="" class="form-control" placeholder="price">
    <br>
    <input type="submit" value="add meal">
</div>

</form>




<%- include('parts/footer')%>